body {
    background-color: #E0F9FF;
}

header {
    background-color: #E0F9FF;
    padding: 20px;
}

/* Alle dine */
h1 {
    position: relative;
    font-family: Anton, monospace;
    left: 200px;
    margin: 10px;
    font-size: 75px;
    color: #FF00B8;
    z-index: 2;
}

/* Ønsker*/

h2 {
    position: relative;
    font-family: Anton, monospace;
    left: 200px;
    margin: 0px;
    font-size: 75px;
    color: #FF00B8;
    z-index: 2;
}

/* Samlet */
h3 {
    position: relative;
    font-family: Anton, monospace;
    left: 200px;
    margin: 0px;
    font-size: 75px;
    color: #FF00B8;
    z-index: 2;
}

button {
    position: relative;
    left: 900px;
    bottom: 350px;
    background-color: #D7EFFC;
    color: #000000;
    font-size: 32px;
    padding: 40px 60px;
    border-radius: 50px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgba(255, 0, 184, 0.8);
    z-index: 2;
}

button:hover {
    background-color: #FFFFFF;
}

.wrapper{
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    bottom: 500px;
    left: 80px;
    width: 1350px;
    height: 500px;
    background: #E0F9FF;
    border: 3px dashed #FFFFFF;
    z-index: 1;
}
