body {
    background-color: #E0F9FF;
}

header {
    background-color: #E0F9FF;
    padding: 20px;
}


/* overskift: indtast oplysninger */

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: Anton, monospace;
    margin: 10px;
    font-size: 40px;
    color: #FF00B8;
}

form {
    margin-top: 2rem;
}

form > input {
    margin-bottom: 30px;
}

/* log ind knap */
button {
    background-color: #D7EFFC;
    font-family: Anton, monospace;
    color: #000000;
    font-size: 32px;
    padding: 40px 60px;
    border: none;
    border-radius: 40px;
    border-width: 0px 3px 3px 0px;
    border-color: rgba(255, 0, 184, 0.8);
}

/* tekstboks med brugerinfo  */

input {
    font-family: Anton, monospace;
    font-size: 25px;
    padding: 20px 30px;
    border-radius: 30px;
    border-color: #FF00B8;
    background-color: #FFFFFF;
}