body{
    background-color: #E0F9FF
}

h1{
    position: relative;
    text-align: center;
    font-family: Anton, monospace;
    margin: 10px;
    font-size: 50px;
    color: #FF00B8
}

input {
    align-items: center;
    text-align: center;
    font-family: Anton, monospace;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.redigerContainer{
    top: 150px;
    left: 345px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}