<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/Oenskeseddel.css"/>
</head>
<body>

<div id="h1">
    <h1>Din ønskeseddel</h1>
</div>

<div class="indtastContainer">
    <form action="/createNewOenske" method="post">
        <label label hidden="hidden" for="ønskeNavn">Navn</label>
        <input placeholder="Hvad ønsker du dig?" type="text" name="navn" style="color: #000000">
        <br>
        <label hidden="hidden" for="ønskeBeskrivelse">Beskrivelse</label>
        <input placeholder="Beskrivelse (farve, str, etc)" type="text" name="beskrivelse"
               style="color: #000000">
        <br>
        <label hidden="hidden" for="ønskeLink">Link></label>
        <input placeholder="Link (valgfrit)" type="text" name="link" style="color: #000000">
        <br>
        <a href="/createOenskeseddel">
            <button type="submit" class="btn-create, btn" id="btn-create">Tilføj ønske</button>
        </a>
        <br>
    </form>
</div>
<div class="tabelContainer">
    <table>
        <thead>
        <tr>
            <div id="ønskeNavn">
                <th>Ønske</th>
            </div>
            <div id="ønskeBeskrivelse">
                <th>Beskrivelse</th>
            </div>
            <div id="ønskeLink">
                <th>Link</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish:${oenske}">
            <td th:text="${wish.getNavn()}"></td>
            <td th:text="${wish.getBeskrivelse()}"></td>
            <td th:text="${wish.getLink()}"></td>

            <td><a th:href="@{'/sletOenske/' + ${wish.id}}">
                <button class="btn-sletOenske" id="btn-sletOenske">Slet ønske</button>
            </a></td>

            <td><a th:href="@{'/opdaterOenske/' + ${wish.id}}">
                <button class="btn-opdaterOenske" id="btn-opdaterOenske">Rediger ønske</button>
            </a></td>
        </tr>


        </tbody>

    </table>
</div>

</body>
</html>