<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Title</title>
</head>
<body>
<br><br><br><br><br><br><br><br>
<h1>ALLE DINE</h1>
<h2>ØNSKER</h2>
<h3>SAMLET</h3>
<br><br><br><br>


<div id="rektangle1">
    <a href="/createBruger">
        <button class="btn-createBruger, btn" id="btn-createBruger">Opret bruger</button>
    </a>
</div>

<br>
<br>

<a href="/login">
    <button class="btn-login, btn" id="btn-login">Log ind</button>
</a>

<div class="wrapper">

</div>

</body>
</html>