<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Title</title>
</head>
<body>
<div class="loginContainer">
    <h1></h1>
    <form action="/brugerLogin" method="post">
        <label hidden="hidden" for="brugernavn">Brugernavn</label>
        <input placeholder="Brugernavn" type="text" name="brugernavn" style="color: #000000" id="brugernavn"/>
        <br>
        <button type="submit" style="color: #030303">Log ind</button>
    </form>
</div>
</body>
</html>